* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background-color: gray;
}
h1 {
  text-align: center;
}

.cellules {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  color: hsl(180, 5%, 4%);
  text-shadow: 0 0 6px rgba(202, 228, 225, 0.92),
    0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(255, 255, 255, 0.52),
    0 0 21px rgba(255, 255, 255, 0.92), 0 0 34px rgba(255, 255, 255, 0.78),
    0 0 54px rgba(255, 255, 255, 0.92);
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  cursor: pointer;
}

.cellules:nth-child(3n) {
  border-right: none;
}

.cellules:nth-child(6) ~ .cellules {
  border-bottom: none;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bordure {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  margin: 64px;
}

.blanc {
  color: white;
}

#finDuJeu {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: gray;
}

#finDuJeu p,
#finDuJeu input {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#finDuJeu p {
  margin-top: 32px;
}
